{% extends 'TycoonCatalogBundle::layout.html.twig' %}

{% block mainContent %}
    <h1 align = "center"> <img src="{{ asset('/images/contactus.png') }}"> </h1>
    <ul>
    <h7 align = "center">
        <li> Address : Swan Office Park, Windsor Building Sos. Bucureşti Nord nr. 15-23 </li>
        <li> Phone   : +40 21 200 52 00                                                 </li>
        <li> Email   : shoponline@tycoon.ro                                             </li>
    </h7>
    </ul>
{% endblock %}
