{% extends 'TycoonCatalogBundle::layout.html.twig' %}

{% block sidebar %}
{% endblock %}

{% block body %}
    {% if product.id == null %}
        <h1 class="tycoon-page-header centered">ADD PRODUCT</h1>
    {% else %}
        <h1 class="tycoon-page-header centered">EDIT PRODUCT</h1>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('failedInsert') %}
        <div class="flash alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="flash alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if app.user == null %}
        <div class="flash alert alert-danger">
            You are not allowed to view this page. Please log in with your administrator account.
        </div>
        <br/>
    {% elseif app.user.adminFlag == 0 %}
        <div class="flash alert alert-danger">
            You are not allowed to view this page. Please log in with your administrator account.
        </div>
        <br/>
    {% else %}
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                {% include 'TycoonCatalogBundle:Product:form.html.twig' with { 'product': product, 'product_form': product_form } %}
            </div>
            <div class="col-lg-2"></div>
        </div>
    {% endif %}

{% endblock %}
