<form action="{{ path('Catalog_Product_search') }}" class="search-form">
    <div class="form-group">


        <div class="input-group">
            <div class="ui-widget">
                <input class="form-control" name="q" type="search" placeholder="search by product name ..." id="search-bar">
            </div>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </button>
            </span>
        </div>
    </div>
</form>
