{% extends '::base.html.twig' %}

{% block header %}
    {% include 'TycoonCatalogBundle::header.html.twig' %}
{% endblock %}

{% block mainContent %}
    <div class="push-10-px"></div>
    <div class="row">
        <div class="left-sidebar col-lg-2 col-md-3 col-sm-3">
            {% block leftSidebar %}
                <div class="push-10px"></div>
                {% render controller("TycoonCatalogBundle:Attribute:filter") %}
                {% render controller("TycoonCatalogBundle:Category:list") %}
            {% endblock %}
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">

            {% block body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 Tycoon Shop. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ path('Catalog_Product_list') }}">Home</a></li>
                    <li><a href="{{ path('Catalog_Page_about') }}">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="{{ path('Catalog_Page_contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
